<%  if(typeof errors != 'undefined')  { %>
	<div class="alert alert-warning alert-dismissible fade show" role="alert">

	<% errors.forEach((error)=> {%>

			
			<%= error.message %>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    			<span aria-hidden="true">&times;</span>				
	  	</button>

		
		<% }) %>
	<%}%>
</div>

<% if(sucess != ''){%>
	<div class="alert alert-success alert-dismissible fade show" role="alert">
	<%=sucess  %>

	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    			<span aria-hidden="true">&times;</span>				
	  	</button>


<% } %>




